name: kaldi_asr_ffi
description: A Flutter plugin for Kaldi ASR.
version: 0.0.5
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  archive: ^2.0.13
  path: ^1.5.1
  path_provider:
  random_string: ^2.0.1
  ffi: ^0.1.3
  kaldi_asr_platform_interface:
    git:
      url: git://github.com/nmfisher/flutter_kaldi_asr_plugin.git
      path: kaldi_asr_platform_interface
    #path: ../kaldi_asr_platform_interface
dev_dependencies:
  plugin_platform_interface: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.example.kaldi_asr_ffi
        pluginClass: KaldiAsrFfiPlugin
      ios:
        pluginClass: KaldiAsrFfiPlugin
  #assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
